<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container">
    <div class="ml-auto d-flex">
      <div class="dropdown ml-3">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-globe"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to url_for( :locale => "en" ), {class: "dropdown-item"} do %>
            <%= image_tag "en.png" %>
            <span class="ml-2"><%= t ".english" %></span>
          <% end %>
          <%= link_to url_for( :locale => "vi" ), {class: "dropdown-item"} do %>
            <%= image_tag "vi.png" %>
            <span class="ml-2"><%= t ".vietnamese" %></span>
          <% end %>
        <div>
      </div>
    </div>
  </div>
</nav>
