<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag Settings.logo.link, alt: "CFS logo", width: Settings.logo.img_size_home, height: Settings.logo.img_size_home %>
    <% end %>
    <div class="ml-auto d-flex">
      <%= link_to t(".sign_in"), login_path, class: "btn btn-sm btn-secondary mr-2" %>
      <div class="dropdown ml-3">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-globe"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to url_for( :locale => "en" ), {class: "dropdown-item"} do %>
            <%= image_tag "en.png" %>
            <span class="ml-2"><%= t ".english" %></span>
          <% end %>
          <%= link_to url_for( :locale => "vi" ), {class: "dropdown-item"} do %>
            <%= image_tag "vi.png" %>
            <span class="ml-2"><%= t ".vietnamese" %></span>
          <% end %>
        <div>
      </div>
    </div>
  </div>
</nav>
