<% provide :title, t(".title") %>
<div class="header">
  <%= link_to new_accountant_income_path, class: "btn btn-success", data: {turbolinks: false} do %>
    <i class="fa fa-plus"></i> <%= t(".new_income") %>
  <% end %>
</div>
<div class="card card-primary">
  <div>
    <h2 class="card-title-custom text-center w-100">
      <%= t ".heading" %>
    </h2>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="text-nowrap">
        <tr>
          <th><%= t ".num" %></th>
          <th><%= t ".supplier" %></th>
          <th><%= t ".table_title" %></th>
          <th><%= t ".content" %></th>
          <th><%= t ".amount" %></th>
          <th><%= t ".created_at" %></th>
          <th><%= t ".status" %></th>
          <th><%= t ".created_by" %></th>
          <th><%= t ".actions" %></th>
        </tr>
      </thead>
      <tbody>
      <% @incomes.each_with_index do |income, index| %>
        <tr>
          <td><%= index + 1 + (@page-1)*Settings.pagination.items_per_pages %></td>
          <td><%= income.supplier.name %></td>
          <td><%= income.title %></td>
          <td><%= income.content %></td>
          <td><%= number_to_currency income.amount, unit: currency_symbol(income.currency) %></td>
          <td><%= I18n.localize income.created_at, format: t("app.dates.format") %></td>
          <td>
            <small class="badge badge-<%= modify_label_color income.status.parameterize.underscore.to_sym %>" style="text-decoration: <%= (income.status=="canceled")? "line-through" : "none" %>;">
              <%= t ".#{income.status}" %>
            </small>
          </td>
          <td><%= income.user_name %></td>
          <td class="text-nowrap">
            <button type="button" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title=<%= t ".details" %> ><i class="fa fa-eye"></i></button>
            <button type="button" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title=<%= t ".edit" %> ><i class="fa fa-edit"></i></button>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
      <%= paginate @incomes, theme: "twitter-bootstrap-4" %>
    </ul>
  </div>
</div>
