<%= link_to notification_path(notification), remote: true, method: :patch, class: "dropdown-item" do %>
  <div class="d-flex">
    <div>
      <i class="fas fa-envelope"></i>
    </div>
    <div class="ml-3 text-notify">
      <div>
        <span class="text-sm">
          <% if current_user.manager? && notification.item.user_id != current_user.id %>
            <%= t ".notify_for_manager_msg" %> <%= notification.item.user.name %>
          <% elsif current_user.accountant? && notification.item.user_id != current_user.id %>
            <%= t ".notify_for_manager_msg" %> <%= notification.item.user.name %>
          <% else %>
            <%= t ".notify_msg" %> <%= t ".#{notification.item.status}" %>
          <% end %>
        </span>
      </div>
      <div class="text-sm <%= notification.viewed ? "text-muted" : "unread-noti" %>">
        <span>
          <%= time_ago_in_words notification.item.updated_at %> <%= t ".ago" %>
        </span>
      </div>
    </div>
    <% unless notification.viewed %>
      <div class="d-flex align-items-center">
        <i class="fas fa-circle fa-xs unread-noti"></i>
      </div>
    <% end %>
  </div>
<% end %>
<div class="dropdown-divider"></div>
