<% provide :title, t(".head") %>
<% unless section_requests %>
  <div class="header">
    <%= link_to new_request_path, class: "btn btn-success", data: {turbolinks: false} do %>
      <i class="fa fa-plus"></i> <%= t ".new_request" %>
    <% end %>
  </div>
<% end %>
<div class="card">
  <div class="card-body" id="form-request">
    <h2 class="card-title-custom text-center w-100">
      <%= t ".head" %>
    </h2>
  </div>
  <table class="table table-striped table-hover table-bordered padding-margin-0">
      <thead>
        <tr>
          <th scope="col"><%= t ".id" %></th>
          <th scope="col"><%= t ".requestor" %></th>
          <th scope="col"><%= t ".title" %></th>
          <th scope="col"><%= t ".created_at" %></th>
          <th scope="col"><%= t ".amount" %></th>
          <th scope="col"><%= t ".status" %></th>
          <th scope="col"><%= t ".actions" %></th>
        </tr>
      </thead>
      <tbody>
        <% requests.each_with_index do |request, index| %>
        <tr>
          <td><%= index + 1 + (page-1)*Settings.pagination.items_per_pages %></td>
          <td><%= request.user_name %></td>
          <td><%= request.title %></td>
          <td><%= I18n.localize request.created_at, format: t("app.dates.format") %></td>
          <td><%= number_to_currency sum_amount(request).values[0] %> </td>
          <td>
            <small class="badge badge-<%= modify_label_color request.status.parameterize.underscore.to_sym %>"
              style="text-decoration: <%= request.status=="canceled"? "line-through" : "none" %>;">
              <%= t ".#{request.status}" %>
            </small>
          </td>
          <td>
            <% if section_requests %>
              <%= link_to manager_request_path(request), class: "btn btn-info btn-sm", data: {toggle: "tooltip", placement: "top"}, title: t(".detail") do %>
                <i class="fa fa-eye"></i>
              <% end %>
            <% elsif accountant_requests %>
              <%= link_to accountant_request_path(request), class: "btn btn-info btn-sm", data: {toggle: "tooltip", placement: "top"}, title: t(".detail") do %>
                <i class="fa fa-eye"></i>
              <% end %>
            <% else %>
              <%= link_to edit_request_path(request), class: "btn btn-danger btn-sm", data: {toggle: "tooltip", placement: "top"}, title: t(".edit") do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to request_path(request), class: "btn btn-info btn-sm", data: {toggle: "tooltip", placement: "top"}, title: t(".detail") do %>
                <i class="fa fa-eye"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
  </table>
  </div>
  <div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
      <%= paginate requests, theme: "twitter-bootstrap-4" %>
    </ul>
  </div>
</div>
