<div class="card">
  <div class="card-header" id="card-header-request">
    <h2 class="card-title text-center col-12 font-weight-bold" id="card-title-request">
      <%= t ".request_detail" %>
    </h2>
  </div>
  <div class="card-body" id="card-body-request">
    <div class="row request-row">
      <div class="col-3">
        <div class="font-weight-bold">
          <%= t ".requestor" %>
        </div>
      </div>
      <div class="col-9">
        <%= request.user_name %>
      </div>
    </div>
    <div class="row request-row">
      <div class="col-3">
        <div class="font-weight-bold">
          <%= t ".title" %>
        </div>
      </div>
      <div class="col-9">
        <%= request.title %>
      </div>
    </div>
    <div class="row request-row">
      <div class="col-3">
        <div class="font-weight-bold">
          <%= t ".content" %>
        </div>
      </div>
      <div class="col-9">
        <%= request.content %>
      </div>
    </div>
    <div class="row request-row">
      <div class="col-3">
        <div class="font-weight-bold">
          <%= t ".status" %>
        </div>
      </div>
      <div class="col-9" id="req_status_name">
        <small class="badge badge-<%= modify_label_color request.status.parameterize.underscore.to_sym %>"
          style="text-decoration: <%= request.status == "canceled"? "line-through" : "none" %>;">
          <%= t ".#{request.status}" %>
        </small>
      </div>
    </div>
    <% if request.reason.present? %>
      <div class="row request-row">
        <div class="col-3">
          <div class="font-weight-bold">
            <%= t ".reason" %>
          </div>
        </div>
        <div class="col-9">
          <%= request.reason %>
        </div>
      </div>
    <% end %>
    <div class="row request-row">
      <div class="col-3">
        <div class="font-weight-bold">
          <%= t ".sum" %>
        </div>
      </div>
      <div class="col-9">
        <%= number_to_currency sum_amount(request).values[0], unit: "" %>
      </div>
    </div>
    <div class="row request-row">
      <div class="col-3">
        <div class="font-weight-bold">
          <%= t ".currency" %>
        </div>
      </div>
      <div class="col-9">
        <%= request.currency %>
      </div>
    </div>
    <div class="request-details">
      <h3 class="text-center mt-4 mb-3">
        <%= t ".details" %>
      </h3>
      <table class="table table-hover table-bordered table-striped">
        <thead lass="text-nowrap">
          <tr>
            <th>
              <label for="department">
                <%= t ".section" %>
              </label>
            </th>
            <th>
              <label for="description">
                <%= t ".des" %>
              </label>
            </th>
            <th>
              <label for="money_amount">
                <%= t ".amount" %>
              </label>
            </th>
          </tr>
        </thead>
        <tbody>
          <% request.request_details.each do |req| %>
            <tr>
              <td>
                <%= req.section_name %>
              </td>
              <td>
                <%= req.description %>
              </td>
              <td>
                <%= number_to_currency req.amount %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <div class="row request-row">
      <div class="col-6">
        <div class="mr-auto">
          <% if check_requests %>
            <%= link_to t(".go_back"), manager_requests_path, class: "btn btn-primary" %>
          <% elsif current_user.accountant? %>
            <%= link_to t(".go_back"), accountant_requests_path, class: "btn btn-primary" %>
          <% else %>
            <%= link_to t(".go_back"), requests_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div class="col-6">
        <div class="float-right inline">
          <% if check_requests && request.pending? %>
            <%= link_to  "#", class: "btn btn-danger mr-2", id: "reject_btn", data: {toggle: "modal", target: "#rejectConfirmModal"} do %>
              <%= t ".reject" %>
            <% end %>

            <!-- Modal -->
            <%= render "shared/modal/reject_modal", role: :manager, request: request %>
            <%= link_to "#", class: "btn btn-success mr-2", id: "approve_btn", data: {toggle: "modal", target: "#approveConfirmModal"} do %>
              <%= t ".approve" %>
            <% end %>

            <!-- Modal -->
            <%= render "shared/modal/approve_modal", manager: :manager, request: request %>
          <% end %>
          <% if !check_requests && (request.pending? || request.approved? && current_user.manager?) %>
            <%= link_to "#", class: "btn btn-secondary mr-2", id: "cancel_btn", data: {toggle: "modal", target: "#cancelConfirmModal"} do %>
              <%= t ".cancel" %>
            <% end %>
            <%= render "shared/modal/cancel_modal", status_canceled: true %>
            <%= link_to t(".edit"), edit_request_path(request), id: "edit_btn", class: "btn btn-primary mr-2" %>
          <% end %>
          <% if current_user.accountant? && request.approved? %>
            <%= link_to  "#", class: "btn btn-danger mr-2", id: "reject_btn", data: {toggle: "modal", target: "#rejectConfirmModal"} do %>
              <%= t ".reject" %>
            <% end %>
            <%= render "shared/modal/reject_modal", role: :accountant, request: request %>
            <%= link_to  "#", class: "btn btn-warning mr-2 text-white", id: "paid_btn", data: {toggle: "modal", target: "#paidConfirmModal"} do %>
              <%= t ".paid" %>
            <% end %>
            <%= render "shared/modal/paid_modal", role: :accountant, request: request %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="d-none">
    <small id='paid-label' class='badge badge-warning' style='text-decoration: none;'><%= t ".paid" %></small>
    <small id='reject-label' class='badge badge-danger' style='text-decoration: none;'><%= t ".rejected" %></small>
    <small id='approve-label' class='badge badge-success' style='text-decoration: none;'><%= t ".approved" %></small>
    <small id='canceled-label' class='badge badge-dark' style='text-decoration: line-through;'><%= t ".canceled" %></small>
  </div>
</div>
