<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <%= link_to "#", class: "brand-link" do %>
    <%= image_tag Settings.logo.link, alt: "CFS logo", width: Settings.logo.img_size, height: Settings.logo.img_size, class: "brand-image img-circle elevation-3" %>
    <span class="brand-text font-weight-light"><%= Settings.logo.logo_txt %></span>
  <% end %>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <%= image_tag Settings.image.link_user, alt: "user image", class: "img-circle elevation-2" %>
      </div>
      <div class="info">
        <%= link_to "#", class: "d-block" do %>
          Duc Vu
        <% end %>
      </div>
    </div>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview menu-open">
          <%= link_to "#", class: "nav-link active" do %>
            <i class="far fa-hourglass nav-icon"></i>
            <p>
              <%= t ".manage_request" %>
              <i class="right fas fa-angle-left"></i>
            </p>
          <% end %>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to "#", class: "nav-link active" do %>
                <i class="fas fa-plus-circle nav-icon"></i>
                <p><%= t ".create_request" %></p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "#", class: "nav-link" do %>
                <i class="fas fa-history nav-icon"></i>
                <p><%= t ".my_request" %></p>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </nav>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview menu-open">
          <%= link_to "#", class: "nav-link active" do %>
            <i class="fas fa-money-check-alt nav-icon"></i>
            <p>
              <%= t ".manage_income" %>
              <i class="right fas fa-angle-left"></i>
            </p>
          <% end %>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to "#", class: "nav-link active" do %>
                <i class="fas fa-plus-circle nav-icon"></i>
                <p><%= t ".create_income" %></p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "incomes", class: "nav-link" do %>
                <i class="fas fa-history nav-icon"></i>
                <p><%= t ".my_income" %></p>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </nav>
  </div>
</aside>
