<!DOCTYPE html>
<html>
  <head>
    <title>Cash</title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    <%= render "shared/flash_toaster" %>
    <% if logged_in? %>
      <%= render "layouts/header" %>
      <%= render "layouts/side_bar" %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
