<!DOCTYPE html>
<html>
  <head>
    <title>Cash</title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
