<!DOCTYPE html>
<html>
  <head>
    <title>Cash</title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="row" id="body-row">
      <%= render "layouts/side_bar" %>
      <div class="col p-4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
